<ul class="list">
{{#each}}
  <li>
    <span class="icon-issue stick-left"></span>
    <a href="#" {{action "openDetail" this}}>{{title}}</a>
    <span class="pull-right">#{{number}}</span>
  </li>
{{/each}}
</ul>
